.exercise_container{
    display: flex;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
}
.related_products, .user_comments {
    margin-top: 40px;
}
