* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  height: 9vh;
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100px;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 9vh;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding-top: 60px;
    text-align: left;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-links li {
    width: 100%;
    padding: 10px 0;
  }

  .nav-links li a {
    padding: 10px;
  }
}

@media (min-width: 769px) {
  .nav-links {
    display: flex;
    flex-direction: row;
  }

  .menu-toggle {
    display: none;
  }
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}
