#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  flex-wrap: wrap;
}

h2 {
  margin-top: -20px;
}

.card {
  padding: 2em;
}

.exercise_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.exercise {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lemonchiffon;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 1em;
  height: 1vh;
  width: auto;
}
